.user-posts-list-item {
  margin-bottom: 4px;
}
@media screen and (min-width: 767px) {
  .user-posts-list-item {
    margin-bottom: 24px;
  }
}
.user-post-img {
  width: 118px;
  height: 118px;
}
@media screen and (min-width: 767px) {
  .user-post-img {
    width: 260px;
    height: 260px;
  }
}
